body {
  background-color: var(--gray-3);
  padding-block: 2rem;
  --red-dark: hsl(1, 94.6%, 56.5%);
  --red-light: hsl(10, 100%, 65%);
  --green-dark: hsl(141.9, 69.2%, 58%);
  --green-light: hsl(160, 80%, 70%);
  --p-dark: hsl(168.8, 70.2%, 67.1%);
  --p-light: hsl(145, 80%, 80%);
  --dark: var(--p-dark);
  --light: var(--p-light);
}
